<h1>Listado</h1>

<div class="row">
    <div class="col-6">
        <h3>No Completados</h3>
        <% @todos.each do |task| %>
        <% if task.completed != true %>
            <div class="card card-body bg-primary">
                    <%= task.description %>
            </div>
        <% end %>
<% end %>
</div>
<div class="col-6">
        <h3>Completados</h3>
        <% @todos.each do |task| %>
        <% if task.completed == true %>
            <div class="card card-body bg-warning">
                    <%= task.description %>
            </div>
        <% end %>
<% end %>
</div>



</div>